#gameCanvas {
    border-radius: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 8px 8px 12px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#chatController {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 600px;
    top: 415px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#messageInput {
    border: none;
    padding: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    width: 400px;
}

#sendButton {
    border: none;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    cursor: pointer;
}