#gameCanvas {
    border-radius: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#chatController {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 600px;
    top: 415px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#chatController * {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
}

#messageInput {
    border: none;
    padding: 10px;
    margin-right: 8px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    width: 50%;
}

#messageInput:focus {
    border-color: inherit;
    outline: none;
}

#sendButton {
    border: none;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    cursor: pointer;
}